
    @if (control() && control()?.invalid && (control()?.touched || control()?.dirty)) {
      <span class="field-error-message">
        @if (control()?.errors?.['required']) {
          {{ i18n.t('fieldError.required') }}
        } @else if (control()?.errors?.['minlength']) {
          {{ i18n.t('fieldError.minlength', { min: control()?.errors?.['minlength']?.requiredLength }) }}
        } @else if (control()?.errors?.['maxlength']) {
          {{ i18n.t('fieldError.maxlength', { max: control()?.errors?.['maxlength']?.requiredLength }) }}
        } @else if (control()?.errors?.['min']) {
          {{ i18n.t('fieldError.minValue', { min: control()?.errors?.['min']?.min }) }}
        } @else if (control()?.errors?.['email']) {
          {{ i18n.t('fieldError.email') }}
        } @else {
          {{ i18n.t('fieldError.invalid') }}
        }
      </span>
    }
  
